<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>repeaters</title>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<style> body {font-size: 1.2em;}</style>
</head>
<body >
	<style> body {font-size: 2.4em;}</style>
	<style >body { background-color:white; }</style>
	<h1>Shoping List</h1>
	<div ng-controller="shopingADD as add">
		<input type="text" ng-model='add.itemName' placeholder="name of item">
		<input type="text" ng-model="add.itemQuantity" placeholder="number of items">
		<BUTTON
		ng-click="add.addItem();">Add items</BUTTON>
		

	</div>
	<div ng-controller="shopingView as view">
		<ol>
		<li ng-repeat="item in view.items">
		{{item.quantity}} of {{item.name}} 
		<button ng-click="view.removeItem($index);">Remove</button>
		</li>
	</ol>
	</div>
		
		
		

</body>
</html>